@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
body {
  background-color: black;
  overflow-x: hidden;
}

.navbar {
  background-color: black;
  position: relative;
  width: 100%;
  z-index: 2;
}
.items {
  margin-right: 8rem;
}

.navbar a {
  float: right;
  display: block;
  color: white;
  text-align: center;
  font-size: 20px;
  font-family: "Outfit", sans-serif;
  font-weight: 300;
  padding: 14px 20px;
  text-decoration: none;
  line-height: 50px;
  transition: all 0.3s ease;
}

.navbar a:hover {
  cursor: pointer;
  font-size: 24px;
  color: yellow;
}

.navbar img {
  float: left;
  padding: 10px;
  height: 70px;
  margin-left: 2.5rem;
}

.sacs {
  position: relative;
}

.slider {
  position: relative;
  width: 100%;
}

.slider img {
  width: 100%;
  height: auto;
}

.slider-nav {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}

.slider-nav .prev,
.slider-nav .next {
  position: absolute;
  top: -20px;
  width: 80px;
  height: 80px;
  background-color: #faca04;
  border-radius: 50%;
  cursor: pointer;
  font-size: 40px;
  line-height: 80px;
}

.slider-nav .prev {
  left: 20px;
}

.slider-nav .next {
  right: 20px;
}
.slider-nav .prev img,
.slider-nav .next img {
  width: 50%;
  height: auto;
  display: block;
  margin: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.search-container {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  margin-right: 2.5rem;
}

.search-container img {
  height: 30px;
}
.textBanner h3 {
  color: white;
  font-family: "Outfit", sans-serif;
  font-weight: 300;
  font-size: 28px;
}
.textBanner {
  background-color: #ffce00;
  width: 400px;
  border-radius: 45px;
  font-family: "Outfit", sans-serif;
  font-weight: 300;
  padding: 8px 15px;
  margin-top: 10rem;
  height: 14rem;
}
.buttonBanner button {
  font-family: "Outfit", sans-serif;
  padding: 10px 20px;
  width: 120px;
  background-color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  margin-top: 1.5rem;
  cursor: pointer;
  border-radius: 45px;
}

.banner {
  display: flex;
  flex-direction: row;
  gap: 10rem;
  justify-content: center;
}
.imgBanner {
  width: 400px;
  display: block;
}

.papitas {
  display: flex;
  flex-direction: row;
  margin-top: -189px;
}
.papitas img {
  width: 230px;
  position: absolute;
  z-index: 1;
}

.papita2 {
  margin-left: 78%;
  margin-top: 15rem;
}
.papita1 {
  margin-top: 10.6rem;
  margin-left: 8rem;
}

.contenedor1 {
  position: relative;
  width: 500px;
  height: 300px;
  padding: 20px;
}
.container2 {
  width: 100%;
  height: 34rem;
  background-color: #28a00b;
}
#slider {
  margin: 0 auto;
  width: 800px;
  max-width: 100%;
  text-align: center;
}
#slider input[type="radio"] {
  display: none;
}
#slider label {
  cursor: pointer;
  text-decoration: none;
}
#slides {
  position: relative;
  z-index: 1;
}
#overflow {
  width: 100%;
  overflow: hidden;
}
#slide1:checked ~ #slides .inner {
  margin-left: 0;
}
#slide2:checked ~ #slides .inner {
  margin-left: -100%;
}
#slide3:checked ~ #slides .inner {
  margin-left: -200%;
}
#slide4:checked ~ #slides .inner {
  margin-left: -300%;
}
#slides .inner {
  transition: margin-left 800ms cubic-bezier(0.77, 0, 0.175, 1);
  width: 400%;
  line-height: 0;
  height: 500px;
  justify-content: center;
  align-items: center;
}

#slides .slide {
  width: 25%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #fff;
}

#controls {
  margin: -180px 0 0 0;
  width: 50%;
  margin-left: 20rem;
  z-index: 3;
  position: relative;
}
#controls label {
  transition: opacity 0.2s ease-out;
  display: inline-block;
  width: 50px;
  height: 50px;
  font-size: 24px;
  color: black;
  line-height: 50px;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
#prevBtn,
#nextBtn {
  display: inline-block;
  width: 50px;
  height: 50px;
  overflow: hidden;
  text-align: center;
}
#prevBtn img,
#nextBtn img {
  margin-top: 15px;
  max-width: 60%;
  max-height: 60%;
  vertical-align: middle;
}

#prevBtn {
  left: 0;
  border-radius: 50%;
  width: 80px !important;
  height: 80px !important;
  background-color: #faca04 !important;
  margin-left: -20rem !important;
}

#nextBtn {
  right: 0;
  border-radius: 50%;
  width: 80px !important;
  height: 80px !important;
  background-color: #faca04 !important;
  margin-right: -5rem !important;
}

#controls label:hover {
  opacity: 1;
}
#bullets {
  margin: 150px 0 0;
  text-align: center;
}
#bullets label {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  margin-top: 30px !important;
  background: #ccc;
  margin: 0 10px;
}
#slide1:checked ~ #bullets label:nth-child(1),
#slide2:checked ~ #bullets label:nth-child(2),
#slide3:checked ~ #bullets label:nth-child(3),
#slide4:checked ~ #bullets label:nth-child(4) {
  background: #444;
}
@media screen and (max-width: 900px) {
  #slide1:checked ~ #controls label:nth-child(2),
  #slide2:checked ~ #controls label:nth-child(3),
  #slide3:checked ~ #controls label:nth-child(4),
  #slide4:checked ~ #controls label:nth-child(1),
  #slide1:checked ~ #controls label:nth-last-child(2),
  #slide2:checked ~ #controls label:nth-last-child(3),
  #slide3:checked ~ #controls label:nth-last-child(4),
  #slide4:checked ~ #controls label:nth-last-child(1) {
    margin: 0;
  }
  #slides {
    max-width: calc(100% - 140px);
    margin: 0 auto;
  }
}
.textBannerText {
  color: white;
}

.jaa {
  width: 30rem;
}
.container3 {
  width: 100%;
  height: 34rem;
  background-color: rgb(0, 0, 0);
}
#slider2 {
  margin: 0 auto;
  width: 800px;
  max-width: 100%;
  text-align: center;
}
#slider2 input[type="radio"] {
  display: none;
}
#slider2 label {
  cursor: pointer;
  text-decoration: none;
}
#slides2 {
  position: relative;
  z-index: 1;
}
#overflow2 {
  width: 100%;
  overflow: hidden;
}
#slide5:checked ~ #slides2 .inner2 {
  margin-left: 0;
}
#slide6:checked ~ #slides2 .inner2 {
  margin-left: -100%;
}
#slide7:checked ~ #slides2 .inner2 {
  margin-left: -200%;
}
#slide8:checked ~ #slides2 .inner2 {
  margin-left: -300%;
}
#slides2 .inner2 {
  transition: margin-left 800ms cubic-bezier(0.77, 0, 0.175, 1);
  width: 400%;
  line-height: 0;
  height: 500px;
  justify-content: center;
  align-items: center;
}
#slides2 .slide2 {
  width: 25%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #fff;
}
#controls2 {
  margin: -180px 0 0 0;
  width: 50%;
  margin-left: 20rem;
  z-index: 3;
  position: relative;
}
#controls2 label {
  transition: opacity 0.2s ease-out;
  display: inline-block;
  width: 50px;
  height: 50px;
  font-size: 24px;
  color: black;
  line-height: 50px;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
#prevBtn2,
#nextBtn2 {
  display: inline-block;
  width: 50px;
  height: 50px;
  overflow: hidden;
  text-align: center;
}
#prevBtn2 img,
#nextBtn2 img {
  margin-top: 15px;
  max-width: 60%;
  max-height: 60%;
  vertical-align: middle;
}
#prevBtn2 {
  left: 0;
  border-radius: 50%;
  width: 80px !important;
  height: 80px !important;
  background-color: #faca04 !important;
  margin-left: -20rem !important;
}
#nextBtn2 {
  right: 0;
  border-radius: 50%;
  width: 80px !important;
  height: 80px !important;
  background-color: #faca04 !important;
  margin-right: -5rem !important;
}
#controls2 label:hover {
  opacity: 1;
}
#bullets2 {
  margin: 150px 0 0;
  text-align: center;
}
#bullets2 label {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  margin-top: 30px !important;
  background: #ccc;
  margin: 0 10px;
}
#slide5:checked ~ #bullets2 label:nth-child(1),
#slide6:checked ~ #bullets2 label:nth-child(2),
#slide7:checked ~ #bullets2 label:nth-child(3),
#slide8:checked ~ #bullets2 label:nth-child(4) {
  background: #444;
}
@media screen and (max-width: 900px) {
  #slide5:checked ~ #controls2 label:nth-child(2),
  #slide6:checked ~ #controls2 label:nth-child(3),
  #slide7:checked ~ #controls2 label:nth-child(4),
  #slide8:checked ~ #controls2 label:nth-child(1),
  #slide5:checked ~ #controls2 label:nth-last-child(2),
  #slide6:checked ~ #controls2 label:nth-last-child(3),
  #slide7:checked ~ #controls2 label:nth-last-child(4),
  #slide8:checked ~ #controls2 label:nth-last-child(1) {
    margin: 0;
  }
  #slides2 {
    max-width: calc(100% - 140px);
    margin: 0 auto;
  }
}
.textBannerText {
  color: white;
}
.jaa2 {
  width: 30rem;
}

.container4 {
  width: 100%;
  height: 34rem;
  background-color: white;
}
#slider3 {
  margin: 0 auto;
  width: 800px;
  max-width: 100%;
  text-align: center;
}
#slider3 input[type="radio"] {
  display: none;
}
#slider3 label {
  cursor: pointer;
  text-decoration: none;
}
#slides3 {
  position: relative;
  z-index: 1;
}
#overflow3 {
  width: 100%;
  overflow: hidden;
}
#slide9:checked ~ #slides3 .inner3 {
  margin-left: 0;
}
#slide10:checked ~ #slides3 .inner3 {
  margin-left: -100%;
}
#slide11:checked ~ #slides3 .inner3 {
  margin-left: -200%;
}
#slide12:checked ~ #slides3 .inner3 {
  margin-left: -300%;
}
#slides3 .inner3 {
  transition: margin-left 800ms cubic-bezier(0.77, 0, 0.175, 1);
  width: 400%;
  line-height: 0;
  height: 500px;
  justify-content: center;
  align-items: center;
}
#slides3 .slide3 {
  width: 25%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #fff;
}
#controls3 {
  margin: -180px 0 0 0;
  width: 50%;
  margin-left: 20rem;
  z-index: 3;
  position: relative;
}
#controls3 label {
  transition: opacity 0.2s ease-out;
  display: inline-block;
  width: 50px;
  height: 50px;
  font-size: 24px;
  color: black;
  line-height: 50px;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
#prevBtn3,
#nextBtn3 {
  display: inline-block;
  width: 50px;
  height: 50px;
  overflow: hidden;
  text-align: center;
}
#prevBtn3 img,
#nextBtn3 img {
  margin-top: 15px;
  max-width: 60%;
  max-height: 60%;
  vertical-align: middle;
}
#prevBtn3 {
  left: 0;
  border-radius: 50%;
  width: 80px !important;
  height: 80px !important;
  background-color: #faca04 !important;
  margin-left: -20rem !important;
}
#nextBtn3 {
  right: 0;
  border-radius: 50%;
  width: 80px !important;
  height: 80px !important;
  background-color: #faca04 !important;
  margin-right: -5rem !important;
}
#controls3 label:hover {
  opacity: 1;
}
#bullets3 {
  margin: 150px 0 0;
  text-align: center;
}
#bullets3 label {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  margin-top: 30px !important;
  background: #ccc;
  margin: 0 10px;
}
#slide9:checked ~ #bullets3 label:nth-child(1),
#slide10:checked ~ #bullets3 label:nth-child(2),
#slide11:checked ~ #bullets3 label:nth-child(3),
#slide12:checked ~ #bullets3 label:nth-child(4) {
  background: #444;
}
@media screen and (max-width: 900px) {
  #slide9:checked ~ #controls3 label:nth-child(2),
  #slide10:checked ~ #controls3 label:nth-child(3),
  #slide11:checked ~ #controls3 label:nth-child(4),
  #slide12:checked ~ #controls3 label:nth-child(1),
  #slide9:checked ~ #controls3 label:nth-last-child(2),
  #slide10:checked ~ #controls3 label:nth-last-child(3),
  #slide11:checked ~ #controls3 label:nth-last-child(4),
  #slide12:checked ~ #controls3 label:nth-last-child(1) {
    margin: 0;
  }
  #slides3 {
    max-width: calc(100% - 140px);
    margin: 0 auto;
  }
}
.textBannerText {
  color: white;
}
.jaa3 {
  width: 30rem;
}

.row img {
  border-radius: 50%;
  width: 350px;
  height: 350px;
}
.row p {
  color: white;
  font-family: "Outfit", sans-serif;
  width: 50%;
  font-size: 1.2rem;
}
.row {
  display: flex;
  flex-direction: row;
  margin-left: 7rem;
}
.Testimonios h1 {
  color: white;
  margin-bottom: 6rem;
  font-family: "Outfit", sans-serif;
  font-size: 3.5rem;
  font-weight: 300;
  text-align: center;
  margin-top: 4rem;
}

.BannerEnd {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Outfit", sans-serif;
  justify-content: center;
  font-size: 2rem;
}

.left {
  margin-left: 10rem;
}
.left img {
  width: 80%;
}

.right {
  margin-left: auto;
  display: flex;
  flex-direction: row;

  align-items: center;
}

.center {
  flex: 1;
  text-align: center;
  align-self: center;
}

.right img {
  width: 20%;
  margin-right: 10px;
}
.center p {
  margin: 5px 0;
}

.rowBannerEnd {
  display: flex;
  flex-direction: row;
}
.BannerEnd {
  background-color: #faca04;
  height: 200px;
}

.opinion {
  margin-left: 80px;
}

.footer {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Outfit", sans-serif;
  gap: 20px;
  justify-content: center;
  text-align: center;
  margin-top: 1rem;
}

.social {
  position: relative;
  display: inline-block;
}
.social img {
  width: 22px;
  height: auto;
  border-radius: 50%;
  background-color: #faca04;
  padding: 5px;
  position: relative;
  z-index: 1;
}
.social::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  background-color: #000;
  border-radius: 50%;
  z-index: -1;
}
.footer p {
  color: white;
}
